//<ПЕРЕМЕННЫЕ>===========================================================================================================
$fontFamily: "Narziss";
$fontSize: 14;
$font-weight: 400;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1400;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 375.98;

$colorMain: #35271d;
$colorWhite: #fff;
$colorBack: #e5e5e5;
$colorFooterText: #000;
$colorGrey: #c4c4c4;

$color: #f9f4eb;
