.b-balance {
  &_indent {
    padding: 100px 0 160px;
    @media (max-width: $md2+px) {
      padding: 50px 0 50px;
    }
    @media (max-width: $md3+px) {
      padding: 40px 0 40px;
    }
    @media (max-width: $md4+px) {
      padding: 30px 0 30px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__imgWrap {
    width: calc(50% - 50px);
    display: flex;
    position: relative;
    @media (max-width: $maxWidthContainer+px) {
      width: calc(50% - 15px);
    }
    @media (max-width: $md2+px) {
      width: calc(100% - 10px);
    }
    @media (max-width: $md4+px) {
      width: 100%;
      justify-content: center;
    }
    
  }
  &__imgItem {
    &:first-child {
      max-width: 400px;
      max-height: 672px;
      border-radius: 312.281px 312.281px 0px 0px;
      overflow: hidden;
    }
    &:last-child {
      transition: all 0.5s ease 0s;
      position: absolute;
      top: 185px;
      right: 28px;
      max-width: 312px;
      max-height: 364px;
      @media (max-width: $maxWidthContainer+px) {
        top: 235px;
      }
      @media (max-width: $md2+px) {
        left: 30%;
      }
      @media (max-width: $md4+px) {
        display: none;
      }
    }
  }
  &__img {
    @extend %img;
  }

  &__items {
    min-height: 672px;
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $maxWidthContainer+px) {
      width: calc(50% - 15px);
    }
    @media (max-width: $md2+px) {
      min-height: 320px;
      width: calc(100% - 10px);
    }
    &_indent {
      margin: 0 0 0 100px;
      @media (max-width: $maxWidthContainer+px) {
        margin: 0 0 0 30px;
      }
      @media (max-width: $md2+px) {
        margin: 25px 0 0 20px;
      }
    }
  }

  &__title {
    font-size: 90px;
    line-height: 108px;
    @media (max-width: $md2+px) {
      font-size: 70px;
      line-height: 88px;
    }

    @media (max-width: $md3+px) {
      font-size: 60px;
      line-height: 78px;
    }

    @media (max-width: $md4+px) {
      font-size: 46px;
      line-height: 54px;
    }
  }

  &__textItem {
    &_indent {
      margin: 15px 0;
    }
  }

  &__text {
    @extend %familyCirce;
    font-weight: 350;
    font-size: 18px;
    line-height: 27px;
    &:not(:last-child) {
      margin-bottom: 35px;
      @media (max-width: $md2+px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: $md2+px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: $md3+px) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: $md4+px) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__link {
    @extend %familyCirce;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    max-width: 218px;
    min-height: 44px;
    @media (max-width: $md4+px) {
      font-size: 18px;
      min-height: 34px;
      max-width: 170px;
    }
    &:hover {
      color: lighten($colorMain, 20%);
    }
  }
  &__linkIcon {
    font-size: 44px;
    @media (max-width: $md4+px) {
      font-size: 34px;
    }
  }
}
