.b-bestsellers {
  &_indent {
    padding: 20px 0 100px;
    @media (max-width: $md2+px) {
      padding: 20px 0 40px;
    }
    @media (max-width: $md3+px) {
      padding: 20px 0 30px;
    }
    @media (max-width: $md4+px) {
      padding: 20px 0 40px;
    }
  }

  &__title {
    font-size: 90px;
    line-height: 108px;

    @media (max-width: $md2+px) {
      font-size: 70px;
      line-height: 88px;
    }

    @media (max-width: $md3+px) {
      font-size: 60px;
      line-height: 78px;
    }

    @media (max-width: $md4+px) {
      font-size: 46px;
      line-height: 54px;
    }

    &_indent {
      margin: 0 0 100px 0;
      @media (max-width: $md2+px) {
        margin: 0 0 50px 0;
      }
      @media (max-width: $md3+px) {
        margin: 0 0 40px 0;
      }

      @media (max-width: $md4+px) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @media (max-width: $maxWidthContainer+px) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 450px));
      gap: 35px;
      justify-items: center;
      justify-content: center;
    }
    @media (max-width: $md4+px) {
      row-gap: 30px;
    }
  }
  &__item {
    @extend %familyCirce;
  }
  &__itemImg {
    position: relative;
    max-width: 450px;
    max-height: 550px;
    @media (max-width: $md4+px) {
      max-width: 300px;
      max-height: 430px;
    }
  }

  &__img {
    @extend %img;
  }

  &__like {
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 30px;
    left: 20px;
    font-style: 21px;
    color: $colorWhite;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__goodsName {
    display: block;
    font-size: 22px;
    line-height: 32px;
    color: inherit;
    &:hover {
      color: lighten($colorMain, 20%);
    }
    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 28px;
    }
    &_indent {
      margin: 20px 0 6px 0;
      @media (max-width: $md4+px) {
        margin: 10px 0 5px 0;
      }
    }
  }

  &__price {
    font-weight: 350;
    font-size: 18px;
    line-height: 27px;
    @media (max-width: $md4+px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
