.b-comeToSay {
  &_indent {
    padding: 160px 0 150px;
    @media (max-width: $md2+px) {
      padding: 50px 0 50px;
    }
    @media (max-width: $md3+px) {
      padding: 40px 0 40px;
    }
    @media (max-width: $md4+px) {
      padding: 35px 0 35px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    @media (max-width: $md2+px) {
      flex-direction: column-reverse;
    }
  }

  &__items {
    transition: all 0.3s ease 0s;
    &_indent {
      margin: 0 0 0 75px;
      @media (max-width: $maxWidthContainer+px) {
        margin: 0 0 0 40px;
      }
      @media (max-width: $md2+px) {
        margin: 25px 0 0 0;
      }
      @media (max-width: $md4+px) {
        margin: 20px 0 0 0;
      }
    }
  }

  &__title {
    font-size: 90px;
    line-height: 108px;
    @media (max-width: $md2+px) {
      font-size: 70px;
      line-height: 88px;
    }

    @media (max-width: $md3+px) {
      font-size: 60px;
      line-height: 78px;
    }

    @media (max-width: $md4+px) {
      font-size: 46px;
      line-height: 54px;
    }
    &_indent {
      margin: 0 0 70px 0;
      @media (max-width: $md2+px) {
        margin: 0 0 50px 0;
      }
      @media (max-width: $md3+px) {
        margin: 0 0 40px 0;
      }

      @media (max-width: $md4+px) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__link {
    @extend %familyCirce;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    max-width: 218px;
    min-height: 44px;
    @media (max-width: $md4+px) {
      font-size: 18px;
      min-height: 34px;
      max-width: 170px;
    }
    &:hover {
      color: lighten($colorMain, 20%);
    }
  }
  &__linkIcon {
    font-size: 44px;
    @media (max-width: $md4+px) {
      font-size: 34px;
    }
  }

  &__imgItem {
    max-width: 660px;
    max-height: 642px;
  }

  &__img {
    @extend %img;
  }
}
