%footerText {
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  @media (max-width: $md2+px) {
  }
  @media (max-width: $md3+px) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (max-width: $md4+px) {
    font-size: 16px;
    line-height: 26px;
  }
}
.b-footer {
  overflow: hidden;
  position: relative;
  @extend %familyCirce;
  &_indent {
    padding: 150px 0 78px;
    @media (max-width: $md2+px) {
      padding: 50px 0 50px;
    }
    @media (max-width: $md3+px) {
      padding: 40px 0 40px;
    }
    @media (max-width: $md4+px) {
      padding: 30px 0 30px;
    }
  }

  &__items {
    min-height: 334px;
    border-bottom: 1px solid $colorBlackText;
    display: grid;
    grid-template-columns: repeat(3, 150px) 1fr;
    column-gap: 100px;
    padding: 0 0 20px 0;
    @media (max-width: $md2+px) {
      min-height: 290px;
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;
      row-gap: 30px;
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
      padding: 0 0 10px 0;
    }
  }

  &__title {
    @extend %footerText;
    &_indent {
      margin: 0 0 25px 0;
      @media (max-width: $md3+px) {
        margin: 0 0 20px 0;
      }
      @media (max-width: $md4+px) {
        margin: 0 0 5px 0;
      }
    }
  }

  &__link {
    display: block;
    font-weight: 350;
    font-size: 18px;
    line-height: 27px;
    color: inherit;
    margin: 0 0 25px 0;
    &:hover {
      color: lighten($colorMain, 20%);
    }
    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 5px 0;
    }
  }

  &__copyright {
    min-height: 92px;
    display: flex;
    justify-content: center;
    @media (max-width: $md4+px) {
      min-height: 52px;
    }
  }

  &__copyrightText {
    @extend %footerText;
    color: $colorBlackText;
    text-align: center;
    &_indent {
      margin: 58px 0 0 0;
      @media (max-width: $md2+px) {
        margin: 50px 0 0 0;
      }
      @media (max-width: $md3+px) {
        margin: 40px 0 0 0;
      }
      @media (max-width: $md4+px) {
        margin: 20px 0 0 0;
      }
    }
  }

  &__circle {
    width: 300px;
    height: 400px;
    position: absolute;
    right: -40px;
    bottom: 74px;
    transform: rotate(-2.76deg);
    @media (max-width: $md2+px) {
      display: none;
    }
  }
}
